<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resourceit</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link to css file -->
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
     <!-- Highcharts cdn url  -->
     <script src="https://code.highcharts.com/highcharts.js"></script>
     <script src="https://code.highcharts.com/modules/exporting.js"></script>
     <script src="https://code.highcharts.com/modules/export-data.js"></script>

        <div id="app">

            <div class="container">

                <div class="row margin">
                    <div class="col-md-12">
                        <div id="grafic" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div> 
                </div>
                <div class="row margin">
                    <div class="col-md-12">
                        <h4>Edit chart title/subtitle information:</h4>
                    </div>
                    <div class="col-md-4">
                        <label class="text-style" for="title-text">
                            Title:
                        </label>
                        <input id="title-text" class="form-control" type="text" placeholder="Change title" v-model="cartTitle" @input="addData">
                    </div>
                    <div class="col-md-4">
                        <label class="text-style" for="subtitle-text">
                            Subtitle:
                        </label>
                        <input id="subtitle-text" class="form-control" type="text" placeholder="Change subtitle" v-model="subTitle" @input="addData">
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-md-12">
                        <h4>Filter by year:</h4>
                    </div>
                    <div class="col-md-4">
                        <label class="text-style" for="year-selector">Select Year:</label>
                        <select class="form-control" id="year-selector" v-model="selectedYear" @change="changeYear">
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                        </select>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-md-12">
                        <div class="year_list table-responsive" v-for="(year, index) in yearsList" :key="index" v-if="year.id === Number(selectedYear)">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Year</th>
                                        <th scope="col" v-for="(language, index) in year.languages" :key="index"> {{language.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{year.id}}</th>
                                        <td v-for="(language, index) in year.languages" :key="index">{{language.y}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
            

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Vue cdn url -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Source to main js file -->
    <script src="main.js"></script>   

</body>

</html>