  body {
    background-color: aliceblue;
  }
  
  .margin {
    margin: 45px auto;
  }

  .text-style {
    text-transform: uppercase;
    font-weight: bold;
  }

  h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  #year-selector {
    width: 50%;
  }